<!DOCTYPE html>
<html>
    <head>


        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nenadtest/css/layout.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nenadtest/css/bjqs.css') }}" />
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">

	{# {% stylesheets 'bundles/nenadtest/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
 	{% endstylesheets %}
 #}
	{% block javascripts %}{% endblock %}
	
    </head>
    <body>
	    <div class="wrapper">
	        <div class="header">
	            <div id="innerheader">
		            <div class="header_l">
		                <a href="{{ path('homepagelogin') }}">zephyr</a>
	 	            </div>
		
		        <div class="header_r">
                             {% block login %}
                                {% endblock %}

		        </div>
		
		

	            </div>
	        </div>
	                <div class="body">
                        {% block body %}
	                    {% endblock %}
                    </div>

            <footer>{% block footer %}{% endblock %}</footer>
        </div>

    </body>

</html>
